body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #66cdcc;
    background: -moz-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #66cdcc), color-stop(100%, #336799));
    background: -webkit-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -o-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: -ms-linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.page h1,
.page h2
{
    margin-top: 0px;
}
.light {
    font-weight: 300;
} 
.page hr {
    height: 2px;
    background-color: #E6E7E8;
    border: none;
    border-bottom: solid 1px #FFFFFF;
}

.frame {
    position:absolute;
    top:172px;
/*    right:0;*/
/*    bottom:calc(60px + 667px);*/
    height: 540px;
    left: calc(50% - 152px);
    width: 305px;
}

.page {
    float: left;
    -webkit-transform:translate3d(0,0,0);
    height: 100%;
    overflow: hidden;
/*    padding: 20px;*/
}

#pageWrapper {
    position:absolute;
    z-index:1;
    overflow:hidden;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#wrapper {
    position:absolute;
    z-index:1;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:auto;
}

.scroller {
	position:absolute; z-index:1;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
	padding:0;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top50 {
    margin-top: 50px;
}

.top20 {
    margin-top: 20px;
}

.head {
    margin-top: 20px;
}

a {
    color: white;
}

a:hover, a:active, a:focus {
    color: inherit;
}
.circler {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 56px;
    line-height: 43px;
    font-weight: 100;
    height: 56px;
    width: 56px;
    padding-left: 5px;
}

.circlel {
display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 56px;
    line-height: 43px;
    font-weight: 100;
    height: 56px;
    width: 56px;
    padding-right: 5px;
}

a.circlel:hover, 
a.circler:hover {
    text-decoration: none;
}

.top5 {
    margin-top: 5px;
}



.slide {
    -webkit-animation: slideit 8s infinite; 
    height:150px;
    position: absolute;
    top: 30px;
    right: 0;
}


@-webkit-keyframes slideit {
    0% {
        right: 0;
    }
    90% {
        right: 300px;
    }
    100% {
        right: 0;
    }
}



.bottom40 {
    margin-bottom: 40px;
}

.headerimg {
    height: 50px;
    padding: 0;
    margin-top: -17px;
    margin-left: 10px;
    z-index: 2;
}

.header h1{
    display: inline;
    z-index: 4;
    line-height: 57px;
    margin-top: 10px;
    padding-left: 10px;
}

.header {
    background-color: #333333;
    height: 60px;
}

.scrim {
    position: absolute;
    width: 100%;
    top: 0;
    height: 30px;
    background-color: #444444;
    z-index: 1;
    overflow: visible;
    text-align: center;
}

#wrapper2,
#wrapper3 {
    position:relative;
    height: 100%;
}

ul.list-inline > li > img {
    width: 15px;   
}

#map {
    height: 350px;
}

.map-marker-popup {
    width: 300px;
    height: 65px;
    overflow: hidden;
}
.map-marker-image {
    float: left;
    max-width: 65px;
    max-height: 65px;
    margin-right: 10px;
}
.map-marker-info {
    float: left;
    max-width: 215px;
    height: 65px;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    text-align: left;
}
.map-marker-address,
.map-marker-links {
    color: black;
    text-align: left;
}

.map-marker-links > a {
    color: black;
}

.map-marker-name {
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.map-marker-cat {
    float: left;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 11px;
    line-height: 11px;
    color: black;
    display: none;
}